.blog {
  display: flex;
  flex-direction: column;
  align-items: center;

  animation: fadeIn 1s both;

  color: var(--color-primary);

  margin-top: 3em;
}

@keyframes fadeIn {
  from {
    transform: translateX(100em);
  }
  to {
    transform: translateX(0em);
  }
}

.blog ul {
  margin: 0 1em;
}

.blog > h1 {
  margin-bottom: 1em;

  text-transform: capitalize;
}

.postsContainer {
  margin: 0 2em;

  max-width: 100vw;
}
.posts {
  max-width: 100vw;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
