.home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  margin-top: 3em;

  color: var(--color-primary);
}

.home img {
  border-radius: 5em;
}

.home h1 {
  margin: 1em 0;
}

.home p {
  width: 80%;

  text-align: center;
}

.home ul {
  margin-top: 2em;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.home ul li {
  display: flex;
  flex-direction: column;

  cursor: pointer;

  margin: 1em;
  padding: 2em;

  box-shadow: 0.1em 0.1em 0.1em 0.1em rgba(0, 0, 0, 0.1);
  border-bottom: 0.2em solid var(--color-primary);

  transition: 0.4s all;
}

.home ul li:hover {
  transform: translateY(-0.5em);

  color: var(--color-secondary);
  border-bottom: 0.2em solid var(--color-secondary);

  box-shadow: 0.1em 0.1em 0.1em 0.1em rgba(0, 0, 0, 0.25);
}

@media (min-width: 700px) {
  .home p {
    width: 40%;
  }
}
