.home {
  display: flex;
  justify-content: space-between;
  align-items: center;

  min-height: 85vh;

  background-color: var(--color-primary);

  padding: 5em 1em;

  color: white;
}

.home div {
  width: 100%;
}

.home div h1 {
  margin-bottom: 1em;

  text-transform: capitalize;
}

.home div > a {
  color: gray;

  padding-bottom: 0.15em;

  border-bottom: 0.1em solid var(--color-secondary);

  z-index: 999;
}

.home div > p {
  margin: 1.5em 0;

  letter-spacing: 0.1em;

  font-size: 1.25em;
  font-weight: 600;
}

.home img {
  border-radius: 100%;
  border: 0.1em solid var(--color-secondary);

  margin-right: 5em;
  padding: 0.15em;

  display: none;

  cursor: pointer;

  width: 20%;
  height: 20%;

  position: relative;

  transition: 0.5s all;

  animation: imgEffects 2s normal infinite;

  --initial: 0.15em;
  --medium: 0.35em;
}

@keyframes imgEffects {
  0% {
    box-shadow: 0em 0em var(--initial) var(--initial) rgba(115, 186, 155, 1);
    -webkit-box-shadow: 0em 0em var(--initial) var(--initial)
      rgba(115, 186, 155, 1);
    -moz-box-shadow: 0em 0em var(--initial) var(--initial)
      rgba(115, 186, 155, 1);
  }
  50% {
    box-shadow: 0em 0em var(--medium) var(--medium) rgba(115, 186, 155, 1);
    -webkit-box-shadow: 0em 0em var(--medium) var(--medium)
      rgba(115, 186, 155, 1);
    -moz-box-shadow: 0em 0em var(--medium) var(--medium) rgba(115, 186, 155, 1);
  }
  100% {
    box-shadow: 0em 0em var(--initial) var(--initial) rgba(115, 186, 155, 1);
    -webkit-box-shadow: 0em 0em var(--initial) var(--initial)
      rgba(115, 186, 155, 1);
    -moz-box-shadow: 0em 0em var(--initial) var(--initial)
      rgba(115, 186, 155, 1);
  }
}

@media (min-width: 700px) {
  .home {
    padding: 5em;
  }

  .home img {
    display: flex;
  }

  .home div {
    width: 50%;
  }
}
