.work {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  animation: fadeIn 1s both;

  color: var(--color-primary);

  margin-top: 3em;
}

@keyframes fadeIn {
  from {
    transform: translateY(100em);
  }
  to {
    transform: translateY(0em);
  }
}

.work > h1 {
  margin-bottom: 1em;

  text-transform: capitalize;
}

.work > p {
  filter: opacity(0.4);

  font-weight: 700;

  margin-bottom: 2em;
}

.work > a {
  height: 5em;

  margin: 1em 0;
  padding: 1em;

  display: flex;
  align-items: center;
  justify-content: center;

  animation: jumpingImage 2s both infinite;

  transition: 0.5s all;
}

.work > a svg {
  font-size: 3em;

  transition: 0.5s all;
}

.work > a svg:hover {
  transform: rotate(360deg);
}

.work > a:hover {
  animation: none;

  margin-bottom: 0.5em;
}

.work > .works {
  margin-top: 1em;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.work > .works > .item {
  position: relative;

  margin: 0.15em;

  display: flex;

  width: 100%;
}

@media (min-width: 700px) {
  .work > .works > .item {
    width: 49%;
  }
}

.work > .works > .item span {
  position: absolute;

  color: white;

  opacity: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: rgba(115, 186, 155, 0.5);

  height: 100%;
  width: 100%;

  transition: 0.4s all;
}

.work > .works > .item span:hover {
  opacity: 1;
}

.work > .works > .item img {
  width: 100%;
}

@keyframes jumpingImage {
  0% {
    transform: translateY(1em);
  }
  50% {
    transform: translateY(0em);
  }
  100% {
    transform: translateY(1em);
  }
}
